---
import Arrow from "$/assets/icons/up-arrow.svg";

const { content, title, icon, heading, link } = Astro.props.feature;

const Icon = (await import(`../../assets/icons/${icon}.svg`)).default;
---

<div class="group flex max-w-[45ch] flex-col first:max-w-[50ch]">
  <p
    class="font-norwester flex h-8 items-end gap-3 uppercase group-first:hidden">
    <Icon width={18} height={18} class="group-last:w-5" />
    <span class="leading-none">{heading}</span>
  </p>
  <h2 class="text-level-4 group-first:text-level-5 my-7">{title}</h2>
  <p class="text-light/85 group-first:text-level-1">{content}</p>
  <a href={link.href} class="text-sw-yellow-600 mt-3 py-4 group-first:hidden">
    {link.text}
    <Arrow
      width={16}
      height={16}
      class="-translate-y-0.25 ml-1 inline rotate-45"
    />
  </a>
</div>
