---
import '@/styles/global.css';
import { AstroFont } from 'astro-font';
import Header from '@/components/Header.astro';
import { getImage } from 'astro:assets';
import bg from '@/assets/landingBG.png';

const bgImg = await getImage({ src: bg, format: 'png' });
const { title } = Astro.props;
// const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg?" />
    <!-- <link rel="canonical" href={canonicalURL} /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content="Fill me in" />
    <!-- 
    <meta
    name="keyword"
    content="web design, website, development, video editing, creative, business, branding, marketing, apps"
  />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content="Title" />
    <meta
      property="og:description"
      content="Description"
    />
    <meta property="og:image" content="OG image" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="Title" />
    <meta
      property="twitter:description"
      content="Description"
    />
    <meta property="twitter:image" content="OG image" />
    <meta property="twitter:url" content={canonicalURL} /> -->
    <AstroFont
      config={[
        {
          name: 'Norwester',
          src: [
            {
              style: 'normal',
              weight: '400',
              path: 'fonts/Norwester.woff2',
            },
          ],
          preload: true,
          display: 'swap',
          selector: '.astro-font-norwester',
          fallback: 'serif',
        },
        {
          name: 'Roboto',
          src: [
            {
              style: 'normal',
              weight: '400',
              path: 'fonts/Roboto.woff2',
            },
          ],
          preload: true,
          display: 'swap',
          selector: '.astro-font-roboto',
          fallback: 'sans-serif',
        },
      ]}
    />
    <style define:vars={{ 'bg-image': `url(${bgImg.src})` }}>
      #bg {
        background-image: var(--bg-image);
        background-size: cover;
        background-position: center;
      }
    </style>
  </head>

  <body class="font-roboto antialiased">
    <Header />
    <main>
      <slot />
    </main>
    <div id="bg" class="fixed top-0 z-0 h-screen w-screen"></div>
  </body>
</html>
