---
import "$/styles/global.css";
import { getImage } from "astro:assets";
import { AstroFont } from "astro-font";
import Header from "$/molecules/Header.astro";
import bg from "$/assets/images/landingBG.png";

const bgImage = await getImage({ src: bg, format: "png" });
const { title } = Astro.props;
// const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg?" />
    <!-- <link rel="canonical" href={canonicalURL} /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content="Fill me in" />
    <!-- 
    <meta
    name="keyword"
    content="web design, website, development, video editing, creative, business, branding, marketing, apps"
  />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content="Title" />
    <meta
      property="og:description"
      content="Description"
    />
    <meta property="og:image" content="OG image" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="Title" />
    <meta
      property="twitter:description"
      content="Description"
    />
    <meta property="twitter:image" content="OG image" />
    <meta property="twitter:url" content={canonicalURL} /> -->
    <AstroFont
      config={[
        {
          name: "Norwester",
          src: [
            {
              style: "normal",
              weight: "400",
              path: "fonts/Norwester.woff2",
            },
          ],
          preload: true,
          display: "swap",
          selector: ".astro-font-norwester",
          fallback: "serif",
        },
        {
          name: "Roboto",
          src: [
            {
              style: "normal",
              weight: "400",
              path: "fonts/Roboto.woff2",
            },
          ],
          preload: true,
          display: "swap",
          selector: ".astro-font-roboto",
          fallback: "sans-serif",
        },
      ]}
    />
    <script>
      let lastKnownScrollY = 0;
      let ticking = false;

      const handleScroll = () => {
        lastKnownScrollY = window.scrollY;

        if (!ticking) {
          window.requestAnimationFrame(() => {
            const bg = document.querySelector<HTMLElement>("#bg");
            if (bg) {
              bg.style.transform = `translateY(${-(lastKnownScrollY * 0.2)}px)`;
            }
            ticking = false;
          });

          ticking = true;
        }
      };

      document.addEventListener("scroll", handleScroll);

      window.addEventListener("beforeunload", () => {
        document.removeEventListener("scroll", handleScroll);
      });
    </script>
  </head>

  <body class="font-roboto antialiased">
    <Header />
    <main>
      <slot />
    </main>
    <figure
      id="bg"
      style={`background-image: url(${bgImage.src}); will-change: transform`}
      class="fixed top-0 z-0 h-screen w-screen bg-cover bg-fixed bg-center">
    </figure>
  </body>
</html>
